@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 8%);
    font-family: Inter, Arial;
}

.social-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.social-card {
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    padding: 30px;
    border-radius: 10px;
}

.social-card-top {
    text-align: center;
    color: #fff;
}

.social-card-top>h2 {
    font-size: 18px;
    font-weight: 500;
}

.location {   
    color: hsl(75, 94%, 57%);
    font-size: 10px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 15px;
}

.info {
    font-size: 11px;
    color: rgb(175, 175, 175);
    margin-bottom: 18px;
    margin-top: 10px;
}

.social-card-top img {
    width: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

button {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 700;
    font-family: Inter, Arial;
    cursor: pointer;
}